%button {
  width: 158.65px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  border: 2.5px solid #e06733;
  border-radius: 10px;
}

%button-active {
  width: 158.65px;
  height: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #e06733;
  color: #fff;
  text-transform: uppercase;
  border: 2.5px solid #e06733;
  border-radius: 10px;
}
