@import "fonts";

$lightgreen-color: rgb(237, 242, 236);
$orange-color: #e06733;
$green-color: #499a18;
$grey-color: #717171;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: inherit;
}

body {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  background: $lightgreen-color;
  font-family: "Inika";
}

.wrapper {
  width: 1222px;
  margin: auto;
}

.header__wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  p {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
}

nav {
  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    li {
      padding-right: 44px;
      &:last-child {
        padding-right: 0;
      }
    }
    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 50px;
      color: #010201;
    }
  }
}
