@import "fonts";

$lightgreen-color: #edf2ec;
$orange-color: #e06733;
$green-color: #499a18;
$grey-color: #717171;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  box-sizing: inherit;
}

body {
  display: block;
  max-width: 1440px;
  margin: 0 auto;
  background: $lightgreen-color;
  font-family: "Inika";
}

.wrapper {
  width: 1222px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {
  a {
    text-decoration: none;
  }
}
